@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code&family=Kanit:wght@500;600;700&family=Roboto+Condensed:wght@700&family=Ubuntu+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: 'Ubuntu', sans-serif;
}

body
{
    background-image: url('https://t3.ftcdn.net/jpg/02/71/50/04/360_F_271500423_Ls3YOwFx6DqHy4nUvAV2P0G2UQwFeQaq.jpg');
    background-repeat: none;
    background-size: cover;
    background-position:-7px 0px;
}
h1
{
    text-align: center;
    margin-top: 20px;  
    color:white;
}

.container
{
    display: flex;
    flex-direction: row;
}

.player1
{
    letter-spacing: -1px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height:340px;
    width:300px;
    border-radius: 12px;
    border: 2px solid orange;
    font-size: 22px;
}

.player1:hover
{
    transform: scale(1.1);
}

#player1
{
    background-color: rgb(251,61,224);
    margin-left: 90px;
    box-shadow: 10px 10px 10px rgb(111, 12, 96);
}
#player2
{
    background-color: rgb(52,196,241);
    margin-left: 30px;
    box-shadow: -10px 10px 10px rgb(8, 87, 111);
}

h3
{
    text-align: center;
    margin-bottom: 45px;
}

.player1name
{
    font-size: 18px;
    font-style: italic;
    color: rgb(94, 4, 82);
    height: 30px;
    width:200px;
    border-radius: 6px;
    padding: 2px;
    border: 2px solid rgb(57, 57, 227);
}

.player1guess
{
    font-size: 18px;
    height: 30px;
    width:60px;
    border-radius: 6px;
    padding: 2px;
    padding-left: 5px;
    border: 2px solid rgb(57, 57, 227);
}

.p1finish
{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 180px;
    background-color: black;
    color: white;
    margin-bottom:15px;
}

.p1finish:hover
{
    transform: scale(1.2);
}

img
{
    height:240px;
    width:240px;
    margin-top: 50px;
    margin-left:50px;
    margin-bottom: 20px;
}

img:hover
{
   transform: scale(1.1);
}

#id_winner
{
    display: flex;
    flex-direction: column;
}

#winner
{
    color:white;
    margin-left:115px;
    font-size:40px;
    margin-top: 20px;
}

.empty
{
    height:200px;
}

